@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Global reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

/* Allow the body to have overflow */
body {
  overflow-x: auto;  /* Allow horizontal scrolling when necessary */
}

/* Application container setup */
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
  overflow-x: hidden; /* Prevent app container from overflow */
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Apply overflow control to only certain elements */
.container,
.login-container,
.carousel-container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Hide overflow on individual containers */
}

/* Apply a max-width to prevent stretching */
img, .swiper-slide img {
  max-width: 100%;
  height: auto;
}

/* Style the next arrow button */
.slick-prev,
.slick-next {
  display: block !important; /* Force visibility */
  z-index: 1; 
}

.slick-prev {
  left: 15px !important;
}

.slick-next {
  right: 15px !important;
}

/* Ensure the dots container is positioned correctly */
.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  height: 30px; /* Make it visible */
}


/* Hide the default pseudo-dot */
.slick-dots li button::before {
  display: none !important;
}

/* Style the actual buttons as dots */
.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  background-color: rgba(255, 255, 255, 0.397) !important;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}


/* Active dot styling */
.slick-dots li.slick-active button {
  background-color: #ffffffd5 !important;
}
